

button[class*="btn"] { 
    //width: 30px; 
    //height: 30px; 
    background-color: #161616a2; 
    border-radius: 6px; 
    border: none; 
    cursor: pointer;
} 

// .plus-btn img  { 
//     margin-top: 0px;
//     margin-bottom: 1px;
// } 

// .minus-btn img  { 
//     margin-bottom: 1px;
// } 


