<!-- Navbar -->
<nav class="mpl-navbar-top mpl-navbar">
  <div class="mpl-navbar-mobile-overlay"></div>
  <div class="container mpl-navbar-container">
    <!-- <a class="mpl-navbar-toggle"></a> -->
    <div class="mpl-navbar-brand">
      <a routerLink="/main">
        <img src="../assets/img/GameKey_Logo.png" alt="logo" class="logo">
      </a>
    </div>
    <div class="mpl-navbar-content">
      <ul class="mpl-navbar-nav">
        <li class="mpl-dropdown active" style="opacity: 1; transform: translateY(0px);">
          <a href="dark-index.html" class="mpl-nav-link" role="button">
            <span class="mpl-nav-link-name"> Games </span>
          </a>
        </li>
        <li class="mpl-dropdown" style="opacity: 1; transform: translateY(0px);">
          <a href="forums.html" class="mpl-nav-link" role="button">
            <span class="mpl-nav-link-name"> Contact Us </span>
          </a>
        </li>
      </ul>
      <ul class="mpl-navbar-nav mpl-navbar-right">
        <!-- OLD s1mple -->

        <!-- Search Bar -->
        <li style="opacity: 1; transform: translateY(0px);">
          <a routerLink="/search-bar" class="mpl-nav-link" href="#" data-fancybox="" data-src="#popup-search"
            data-touch="false" data-small-btn="false" data-toolbar="false" data-close-existing="true"
            data-auto-focus="true">
            <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z">
              </path>
            </svg>
          </a>
        </li>
        <!-- Shopping Cart -->
        <li class="mpl-dropdown mpl-dropdown-cart" style="opacity: 1; transform: translateY(0px);">
          <a class="mpl-nav-link" role="button" routerLink="/cart">
            <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 1H5L7.68 14.39M7.68 14.39C7.77144 14.8504 8.02191 15.264 8.38755 15.5583C8.75318 15.8526 9.2107 16.009 9.68 16H19.4C19.8693 16.009 20.3268 15.8526 20.6925 15.5583C21.0581 15.264 21.3086 14.8504 21.4 14.39L23 6H6L7.68 14.39ZM10 21C10 21.5523 9.55228 22 9 22C8.44772 22 8 21.5523 8 21C8 20.4477 8.44772 20 9 20C9.55228 20 10 20.4477 10 21ZM21 21C21 21.5523 20.5523 22 20 22C19.4477 22 19 21.5523 19 21C19 20.4477 19.4477 20 20 20C20.5523 20 21 20.4477 21 21Z">
              </path>
            </svg>
          </a>
          <div class="mpl-dropdown-menu">
            <div class="row justify-content-between vgap">
              <div class="col-12">
                <table class="table mpl-table-shop mpl-table-shop-sm mpl-table-responsive mb-0">
                  <tbody>
                    <tr class="mpl-table-product mpl-table-product-sm">
                      <td class="mpl-table-image">
                        <a routerLink="shop-product.html" class="mpl-table-product-image">
                          <span class="mpl-image">
                            <img src="..assets/cart-game-icon/poza1.jpg" alt="">
                          </span>
                        </a>
                      </td>
                      <td class="mpl-table-name" data-title="Product">
                        <a href="shop-product.html" class="mpl-table-product-title h5">Gamepad MPL</a>
                        <span class="mpl-price"> $120.00 </span>
                      </td>
                      <td class="mpl-table-remove">
                        <a href="#" class="mpl-table-product-remove">
                          <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 6L6 18M6 6L18 18"></path>
                          </svg>
                        </a>
                      </td>
                    </tr>
                    <tr class="mpl-table-product mpl-table-product-sm">
                      <td class="mpl-table-image">
                        <a href="shop-product.html" class="mpl-table-product-image">
                          <span class="mpl-image">
                            <img src="..assets/cart-game-icon/poza.jpg" alt="">
                          </span>
                        </a>
                      </td>
                      <td class="mpl-table-name" data-title="Product">
                        <a href="shop-product.html" class="mpl-table-product-title h5">Headphones MPL</a>
                        <span class="mpl-price"> $84.99 </span>
                      </td>
                      <td class="mpl-table-remove">
                        <a href="#" class="mpl-table-product-remove">
                          <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 6L6 18M6 6L18 18"></path>
                          </svg>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-12">
                <div class="d-flex justify-content-between h5 mb-0">
                  <span>Subtotal:</span>
                  <span>$204.99</span>
                </div>
              </div>
              <div class="col-12">
                <div class="row hgap-xs vgap-xs">
                  <div class="col">
                    <a routerLink="/cart" class="btn btn-block btn-default">View cart</a>
                  </div>
                  <div class="col">
                    <a routerLink="/checkout" class="btn btn-block btn-default">Checkout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <!-- ACCOUNT START -->
        <!-- ****************************************** USER LOGGED OUT ****************************************** -->
        <li *ngIf="!isAuthenticated" class="mpl-dropdown mpl-dropdown-user"
          style="opacity: 1; transform: translateY(0px);">
          <a href="#" class="mpl-nav-link" role="button">
            <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z">
              </path>
            </svg>
          </a>


          <div class="mpl-dropdown-menu">

            <!-- <form action="" [formGroup]="headerSignInForm" (ngSubmit)="headerSignIn()" class="mpl-navbar-login-form">
              <div class="row hgap-sm vgap-sm">
                <div class="col-12">
                  <label for="nav_email">Email:</label><input formControlName="email"
                    class="form-control form-control-sm" type="text" id="nav_email" name="email"
                    placeholder="Email"><span class="form-control-bg"></span>
                </div>
                <div class="col-12">
                  <label for="nav_password">Password:</label><input formControlName="password"
                    class="form-control form-control-sm" type="text" id="nav_password" name="password"
                    placeholder="Password"><span class="form-control-bg"></span>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="nav_rememberme" name="rememberme"><label
                      class="form-check-label" for="nav_rememberme">Remember Me</label>
                  </div>
                </div>
                <div class="col-auto">
                  <a href="#" class="small">Lost Password</a>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-block btn-default">Log in</button>
                </div>
                <div class="col-12 small"> Are you new? <a href="/sign-up">Sign Up</a>
                </div>
              </div>
            </form> -->

            <div class="row hgap-sm vgap-sm">
              <div class="mpl-media-head col-12">
                <a routerLink="/sign-in" class="mpl-media-image" data-fancybox=""
                  data-animation-effect="fade">
                  <span class="mpl-image">
                    <img src="../assets/img/user_icon.png" alt="">
                  </span>
                  <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M8 3H5C4.46957 3 3.96086 3.21071 3.58579 3.58579C3.21071 3.96086 3 4.46957 3 5V8M21 8V5C21 4.46957 20.7893 3.96086 20.4142 3.58579C20.0391 3.21071 19.5304 3 19 3H16M16 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V16M3 16V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21H8">
                    </path>
                  </svg>
                </a>
                <div>
                  <!-- <div class="mpl-media-title h5">Guest</div> -->
                  <a class="col-12">Guest</a>
                  <div class="mpl-media-subtitle">Anonymous</div>
                </div>
              </div>
              <!-- <a class="col-12">Options:</a> -->
              <!-- <div class="small">Already have an account?</div> -->
              <label>Already have an account?</label>
              <div class="col-12">
                <a routerLink="/sign-in" class="btn btn-block btn-default">Login</a>
              </div>
              <!-- <div class="small">Are you new?</div> -->
              <label>Are you new?</label>
              <div class="col-12" style="text-align: center;">
                <a routerLink="/sign-up" class="btn btn-block btn-brand">Sign Up</a>
              </div>
              <!-- !!!!!!!!!!!!!!!!!!!!!!!TEMPORARY!!!!!!!!!!!!!!!!!!!!!! -->
              <!-- <div class="col-12" style="text-align: center;">
                  <button type="button" class="btn btn-block btn-default" (click)="logOut()">Log Out</button> 
              </div> -->
            </div>
            <!-- ACCOUNT END -->
          </div>
        </li>

        <!-- ****************************************** USER LOGGED IN ****************************************** -->
        <li *ngIf="isAuthenticated" class="mpl-dropdown" style="opacity: 1; transform: translateY(0px);">
          <a routerLink="/profile" class="mpl-nav-link" role="button">
            <span class="mpl-nav-link-name">{{showFullNameOrNickname()}}<span class="badge badge-brand">8</span>
            </span>
          </a>
          <div class="mpl-dropdown-menu" style="min-width: 200px;">
            <div class="row hgap-sm vgap-sm">
              <div class="mpl-media-head col-12">
                <a routerLink="/profile" class="mpl-media-image" 
                  data-animation-effect="fade">
                  <span class="mpl-image">
                    <img [src]="user.profileImageUrl" alt="">
                  </span>
                  <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M8 3H5C4.46957 3 3.96086 3.21071 3.58579 3.58579C3.21071 3.96086 3 4.46957 3 5V8M21 8V5C21 4.46957 20.7893 3.96086 20.4142 3.58579C20.0391 3.21071 19.5304 3 19 3H16M16 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V16M3 16V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21H8">
                    </path>
                  </svg>
                </a>
                <div>
                  <a routerLink="/profile" class="col-12">{{showNameOrNickname()}}</a>
                  <div class="mpl-media-subtitle">{{userRole}}</div>
                </div>
              </div>
              <ul class="mpl-navbar-nav" style="align-self: center; padding-right: 0;">
                <li>
                  <div class="col-12">
                    <a routerLink="/profile" class="btn btn-block btn-brand">Profile</a>
                  </div>
                </li>
                <br>
                <li>
                  <div class="col-12">
                    <a routerLink="/settings" class="btn btn-block btn-brand">Settings</a>
                  </div>
                </li>
                <br>
                <li>
                  <div class="col-12">
                    <a routerLink="/inventory" class="btn btn-block btn-brand">Inventory</a>
                  </div>
                </li>
                <br>
                <li>
                  <div class="col-12" style="text-align: center;">
                    <a routerLink="/sign-up" class="btn btn-block btn-default" (click)="logOut()">Log Out</a>
                  </div>
                
                </li>
                <br>
              </ul>


            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- /Navbar -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Responsive offcanvas navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3 mt-lg-0" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav> -->



<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="#">
      <img src="../assets/img/Java-icon.png" alt="logo" style="inline-size: 30%;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="demo">Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="employees">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="crud">CRUD</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->


<!-- <ul class="mpl-navbar-nav">
  <li class="mpl-dropdown active" style="opacity: 1; transform: translateY(0px);">
    <a href="dark-index.html" class="mpl-nav-link" role="button">
      <span class="mpl-nav-link-name"> Games </span>
    </a>
    <div class="mpl-dropdown-menu">
      <ul class="mpl-navbar-nav">
        <li class="active">
          <a href="dark-index.html" class="mpl-nav-link">
            <span class="mpl-nav-link-name"> Main </span>
          </a>
        </li>
        <li>
          <a href="shooter-index.html" class="mpl-nav-link">
            <span class="mpl-nav-link-name"> Shooter </span>
          </a>
        </li>
        <li>
          <a href="gamer-index.html" class="mpl-nav-link">
            <span class="mpl-nav-link-name"> Gamer </span>
          </a>
        </li>
        <li>
          <a href="studio-index.html" class="mpl-nav-link">
            <span class="mpl-nav-link-name"> Studio </span>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="mpl-dropdown" style="opacity: 1; transform: translateY(0px);">
    <a href="blog-grid-sidebar-right.html" class="mpl-nav-link" role="button">
      <span class="mpl-nav-link-name"> Blog </span>
    </a>
    <div class="mpl-dropdown-menu">
      <ul class="mpl-navbar-nav">
        <li class="mpl-dropdown">
          <a href="blog-grid-sidebar-right.html" class="mpl-nav-link" role="button">
            <span class="mpl-nav-link-name"> Grid </span>
          </a>
          <div class="mpl-dropdown-menu">
            <ul class="mpl-navbar-nav">
              <li>
                <a href="blog-grid-sidebar-right.html" class="mpl-nav-link">
                  <span class="mpl-nav-link-name"> Sidebar Right </span>
                </a>
              </li>
              <li>
                <a href="blog-grid-sidebar-left.html" class="mpl-nav-link">
                  <span class="mpl-nav-link-name"> Sidebar Left </span>
                </a>
              </li>
              <li>
                <a href="blog-grid-no-sidebar.html" class="mpl-nav-link">
                  <span class="mpl-nav-link-name"> No Sidebar </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="mpl-dropdown">
          <a href="blog-list-sidebar-right.html" class="mpl-nav-link" role="button">
            <span class="mpl-nav-link-name"> List </span>
          </a>
          <div class="mpl-dropdown-menu">
            <ul class="mpl-navbar-nav">
              <li>
                <a href="blog-list-sidebar-right.html" class="mpl-nav-link">
                  <span class="mpl-nav-link-name"> Sidebar Right </span>
                </a>
              </li>
              <li>
                <a href="blog-list-sidebar-left.html" class="mpl-nav-link">
                  <span class="mpl-nav-link-name"> Sidebar Left </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="mpl-dropdown">
          <a href="blog-post-gallery.html" class="mpl-nav-link" role="button">
            <span class="mpl-nav-link-name"> Single Post </span>
          </a>
          <div class="mpl-dropdown-menu">
            <ul class="mpl-navbar-nav">
              <li>
                <a href="blog-post-gallery.html" class="mpl-nav-link">
                  <span class="mpl-nav-link-name"> Gallery </span>
                </a>
              </li>
              <li>
                <a href="blog-post-carousel.html" class="mpl-nav-link">
                  <span class="mpl-nav-link-name"> Carousel </span>
                </a>
              </li>
              <li>
                <a href="blog-post-simple.html" class="mpl-nav-link">
                  <span class="mpl-nav-link-name"> Simple </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </li>
  <li class="mpl-dropdown" style="opacity: 1; transform: translateY(0px);">
    <a href="shop-sidebar-right.html" class="mpl-nav-link" role="button">
      <span class="mpl-nav-link-name"> Shop </span>
    </a>
    <div class="mpl-dropdown-menu">
      <ul class="mpl-navbar-nav">
        <li class="mpl-dropdown">
          <a href="shop-sidebar-right.html" class="mpl-nav-link" role="button">
            <span class="mpl-nav-link-name"> Products List </span>
          </a>
          <div class="mpl-dropdown-menu">
            <ul class="mpl-navbar-nav">
              <li>
                <a href="shop-sidebar-right.html" class="mpl-nav-link">
                  <span class="mpl-nav-link-name"> Right Sidebar </span>
                </a>
              </li>
              <li>
                <a href="shop-sidebar-left.html" class="mpl-nav-link">
                  <span class="mpl-nav-link-name"> Left Sidebar </span>
                </a>
              </li>
              <li>
                <a href="shop-no-sidebar.html" class="mpl-nav-link">
                  <span class="mpl-nav-link-name"> No Sidebar </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="shop-product.html" class="mpl-nav-link">
            <span class="mpl-nav-link-name"> Single Product </span>
          </a>
        </li>
        <li>
          <a href="cart.html" class="mpl-nav-link">
            <span class="mpl-nav-link-name"> Cart </span>
          </a>
        </li>
        <li>
          <a href="checkout.html" class="mpl-nav-link">
            <span class="mpl-nav-link-name"> Checkout </span>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="mpl-dropdown" style="opacity: 1; transform: translateY(0px);">
    <a href="esports-teams.html" class="mpl-nav-link" role="button">
      <span class="mpl-nav-link-name"> eSports </span>
    </a>
    <div class="mpl-dropdown-menu">
      <div class="mpl-navbar-nav-mega">
        <ul role="menu" class="mpl-navbar-nav">
          <li>
            <a href="esports-teams.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Teams </span>
            </a>
          </li>
          <li>
            <a href="esports-players.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Players </span>
            </a>
          </li>
          <li>
            <a href="esports-tournaments.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Tournaments </span>
            </a>
          </li>
          <li>
            <a href="esports-matches.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Matches </span>
            </a>
          </li>
          <li>
            <a href="esports-games.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Games </span>
            </a>
          </li>
        </ul>
        <ul role="menu" class="mpl-navbar-nav">
          <li>
            <a href="esports-single-team.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Single Team </span>
            </a>
          </li>
          <li>
            <a href="esports-single-player.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Single Player </span>
            </a>
          </li>
          <li>
            <a href="esports-single-tournament.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Single Tournament </span>
            </a>
          </li>
          <li>
            <a href="esports-single-match.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Single Match </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li class="mpl-dropdown" style="opacity: 1; transform: translateY(0px);">
    <a href="component-buttons.html" class="mpl-nav-link" role="button">
      <span class="mpl-nav-link-name"> Components </span>
    </a>
    <div class="mpl-dropdown-menu">
      <div class="mpl-navbar-nav-mega">
        <ul role="menu" class="mpl-navbar-nav">
          <li>
            <a href="component-buttons.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Buttons </span>
            </a>
          </li>
          <li>
            <a href="component-pagination.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Pagination </span>
            </a>
          </li>
          <li>
            <a href="component-page-pagination.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Page Pagination </span>
            </a>
          </li>
          <li>
            <a href="component-progress-bars.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Progress Bars </span>
            </a>
          </li>
          <li>
            <a href="component-accordion.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Accordion </span>
            </a>
          </li>
          <li>
            <a href="component-tabs.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Tabs </span>
            </a>
          </li>
          <li>
            <a href="component-features.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Features </span>
            </a>
          </li>
        </ul>
        <ul role="menu" class="mpl-navbar-nav">
          <li>
            <a href="component-reviews.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Reviews </span>
            </a>
          </li>
          <li>
            <a href="component-pricing.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Pricing </span>
            </a>
          </li>
          <li>
            <a href="component-tables.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Tables </span>
            </a>
          </li>
          <li>
            <a href="component-badges.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Badges </span>
            </a>
          </li>
          <li>
            <a href="component-alerts.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Alerts </span>
            </a>
          </li>
          <li>
            <a href="component-breadcrumbs.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Breadcrumbs </span>
            </a>
          </li>
          <li>
            <a href="component-countdown.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Countdown </span>
            </a>
          </li>
        </ul>
        <ul role="menu" class="mpl-navbar-nav">
          <li>
            <a href="component-icon-box.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Icon Box </span>
            </a>
          </li>
          <li>
            <a href="component-number-box.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Number Box </span>
            </a>
          </li>
          <li>
            <a href="component-changelog.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Changelog </span>
            </a>
          </li>
          <li>
            <a href="component-modal.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Modal </span>
            </a>
          </li>
          <li>
            <a href="component-tooltips.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Tooltips </span>
            </a>
          </li>
          <li>
            <a href="component-popovers.html" class="mpl-nav-link">
              <span class="mpl-nav-link-name"> Popovers </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li class="mpl-dropdown" style="opacity: 1; transform: translateY(0px);">
    <a href="forums.html" class="mpl-nav-link" role="button">
      <span class="mpl-nav-link-name"> Pages </span>
    </a>
    <div class="mpl-dropdown-menu">
      <ul class="mpl-navbar-nav">
        <li class="mpl-dropdown">
          <a href="forums.html" class="mpl-nav-link" role="button">
            <span class="mpl-nav-link-name"> Forum </span>
          </a>
          <div class="mpl-dropdown-menu">
            <ul class="mpl-navbar-nav">
              <li>
                <a href="forums.html" class="mpl-nav-link">
                  <span class="mpl-nav-link-name"> Forums </span>
                </a>
              </li>
              <li>
                <a href="forums-topics.html" class="mpl-nav-link">
                  <span class="mpl-nav-link-name"> Topics </span>
                </a>
              </li>
              <li>
                <a href="forums-single-topic.html" class="mpl-nav-link">
                  <span class="mpl-nav-link-name"> Single Topic </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="sign-in" class="mpl-nav-link">
            <span class="mpl-nav-link-name"> Sign In </span>
          </a>
        </li>
        <li>
          <a href="sign-up.html" class="mpl-nav-link">
            <span class="mpl-nav-link-name"> Sign Up </span>
          </a>
        </li>
        <li>
          <a href="widgets.html" class="mpl-nav-link">
            <span class="mpl-nav-link-name"> Widgets </span>
          </a>
        </li>
        <li>
          <a href="coming-soon.html" class="mpl-nav-link">
            <span class="mpl-nav-link-name"> Coming Soon </span>
          </a>
        </li>
        <li>
          <a href="contact.html" class="mpl-nav-link">
            <span class="mpl-nav-link-name"> Contact Us </span>
          </a>
        </li>
        <li>
          <a href="search.html" class="mpl-nav-link">
            <span class="mpl-nav-link-name"> Search </span>
          </a>
        </li>
        <li>
          <a routerLink="/page-not-found" class="mpl-nav-link">
            <span class="mpl-nav-link-name"> 404 </span>
          </a>
        </li>
        <li>
          <a href="blank.html" class="mpl-nav-link">
            <span class="mpl-nav-link-name"> Blank </span>
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul> -->