<app-header></app-header>


<!-- Router Outlet -->

<router-outlet></router-outlet>
<notifier-container></notifier-container>



<!-- /Background End -->

<app-footer></app-footer>


<!-- OLD VERSION -->

<!-- Background Begin -->
<!-- <section class="mpl-banner mpl-banner-top mpl-banner-parallax">
    <div class="mpl-image" data-speed="0.8" style="z-index: 0;">
        <div class="jarallax-container-0">
            <img src="../assets/img/ninja.jpg" alt="" class="jarallax-img">
        </div>
    </div>

     Main Page Banner 
    <div class="mpl-banner-content mpl-box-lg"
        style="opacity: 0.999929; transform: translate3d(0px, -0.0105813px, 0px);">
    
        Router Outlet
        <router-outlet></router-outlet>
        <notifier-container></notifier-container>

    </div>
</section> -->
<!-- /Background End -->