<app-user></app-user>
<!-- TABS -->
<div class="container" data-sr="" data-sr-duration="1000" data-sr-distance="20"
    style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;">
    <ul class="mpl-user-navigation mpl-carousel" data-gap="0" data-slides="auto">
        <div
            class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
            <div class="swiper-wrapper" id="swiper-wrapper-6b310a6364dd3e127" aria-live="polite">
                <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 6">
                    <li class="active">
                        <a routerLink="/profile"> Profile </a>
                    </li>
                </div>
                <div class="swiper-slide" role="group" aria-label="4 / 6">
                    <li>
                        <a routerLink="/settings"> Settings </a>
                    </li>
                </div>
                <div class="swiper-slide" role="group" aria-label="5 / 6">
                    <li>
                        <a routerLink="/inventory"> Inventory </a>
                    </li>
                </div>
                <!-- <div class="swiper-slide" role="group" aria-label="3 / 6">
                    <li>
                        <a href="user-messages.html"> Messages<span class="badge badge-brand">8</span>
                        </a>
                    </li>
                </div> -->
            </div><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>

    </ul>
</div>
<!-- CONTENT -->
<div class="mpl-box-md">
    <div class="container">
        <div class="row hgap-lg vgap-lg">
            <div class="col-lg mpl-content" data-sr="user-profile" data-sr-duration="1000" data-sr-distance="20">

                <h2 class="h3" data-sr-item="user-profile"
                    style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;">
                    {{user.firstName}} {{user.lastName}}</h2>
                <form action="" [formGroup]="userCardForm" (ngSubmit)="onCardSubmit()">
                    <table class="table mpl-table-profile" data-sr-item="user-profile"
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;">
                        <tbody>
                            <tr>
                                <td>First Name</td>
                                <td>
                                    <input formControlName="firstName" type="text" placeholder="{{this.user.firstName}}"
                                        class="form-control" style="padding:unset;">
                                    <div
                                        *ngIf="(getFirstName?.invalid && getFirstName?.touched) || getFirstName?.dirty">
                                        <small *ngIf="getFirstName?.errors?.['pattern']" class="text-danger"> Not a
                                            valid name pattern
                                        </small>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>
                                    <input formControlName="lastName" type="text" placeholder="{{this.user.lastName}}"
                                        class="form-control" style="padding:unset;">
                                    <div *ngIf="(getLastName?.invalid && getLastName?.touched) || getLastName?.dirty">
                                        <small *ngIf="getLastName?.errors?.['pattern']" class="text-danger"> Not a valid
                                            name pattern
                                        </small>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Nickname</td>
                                <td>
                                    <input formControlName="nickname" type="text"
                                        placeholder="{{this.user.nickname != null ? this.user.nickname : 'Your Nickname'}}"
                                        class="form-control" style="padding:unset;">
                                    <div *ngIf="(getNickname?.invalid && getNickname?.touched) || getNickname?.dirty">
                                        <small *ngIf="getNickname?.errors?.['pattern']" class="text-danger"> Nickname can contain letters and numbers
                                        </small>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>
                                    <!-- dropdown -->
                                    <select formControlName="gender" class="form-select" id="gender" name="gender">
                                        <!-- <option *ngIf="userHasSetGender();else hideSelectGender" value="">Select Gender
                                        </option>
                                        <ng-template #hideSelectGender>
                                            <option value="" [ngValue]="">{{this.user.gender}}</option>
                                        </ng-template> -->
                                        <option *ngIf="userHasSetGender();else hideSelectGender" value=""
                                            [ngValue]="this.user.gender">Select Gender
                                        </option>
                                        <ng-template #hideSelectGender>
                                            <option value="" [ngValue]="">{{this.user.gender}}</option>
                                        </ng-template> -->
                                        <option *ngFor="let userGender of genderMapping;" [ngValue]="userGender.value">
                                            {{this.userGender.value}}</option>
                                    </select>
                                    <span class="form-control-bg"></span>
                                    <!-- dropdown end -->
                                </td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <!-- <td><a href="#">{{this.user.country}}</a></td> -->
                                <td>
                                    <!-- dropdown -->
                                    <select formControlName="country" class="form-select" id="country" name="country">
                                        <!-- <option *ngIf="userHasSetCountry();else hideSelectCountry" value="" [ngValue]="">Select
                                            Country</option>
                                        <ng-template #hideSelectCountry>
                                            <option value="" [ngValue]="">{{this.user.country}}</option>
                                        </ng-template> -->
                                        <option *ngIf="userHasSetCountry();else hideSelectCountry" value=""
                                            [ngValue]="this.user.country">Select
                                            Country</option>
                                        <ng-template #hideSelectCountry>
                                            <option value="" [ngValue]="">{{this.user.country}}</option>
                                        </ng-template>
                                        <option *ngFor="let userCountry of countryMapping;"
                                            [ngValue]="userCountry.value">
                                            {{this.userCountry.value}}</option>
                                    </select>
                                    <span class="form-control-bg"></span>
                                    <!-- dropdown end -->
                                </td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td>
                                    <input formControlName="age" type="text" value="{{this.user.age}}"
                                        placeholder="{{this.user.age != null ? this.user.age: 'Your Age'}}"
                                        class="form-control" style="padding:unset;">
                                        <div *ngIf="(getAge?.invalid && getAge?.touched) || getAge?.dirty">
                                            <small *ngIf="getAge?.errors?.['pattern']" class="text-danger"> Value must be between 1 and 100
                                            </small>
                                        </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <h6 *ngIf="(userCardForm?.invalid && userCardForm?.touched)" class="mb-0"><span
                            class="badge badge-danger">Info</span> Please complete all the fields with valid
                        data </h6> -->
                    <button type="submit" [disabled]="(userCardForm.valid)?false:true" class="mpl-link mt-30">Save
                        Changes</button>
                </form>
                <!-- <h2 class="h3 mt-60" data-sr-item="user-profile"
                    style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;">
                    Contact Information</h2>
                <table class="table mpl-table-profile" data-sr-item="user-profile"
                    style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;">
                    <tbody>
                        <tr>
                            <td>Current City</td>
                            <td><a href="#">New York</a></td>
                        </tr>
                        <tr>
                            <td>Mobile</td>
                            <td>+1 *** ** ** 11 11</td>
                        </tr>
                        <tr>
                            <td>Instagram</td>
                            <td><a href="#">@instagram</a></td>
                        </tr>
                        <tr>
                            <td>Twitter</td>
                            <td><a href="#">#twitter</a></td>
                        </tr>
                    </tbody>
                </table> -->
                <!-- <h2 class="h3 mt-60" data-sr-item="user-profile" data-sr-id="10"
                    style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1);">
                    Personal Information</h2>
                <table class="table mpl-table-profile" data-sr-item="user-profile" data-sr-id="11"
                    style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1);">
                    <tbody>
                        <tr>
                            <td>Current City</td>
                            <td><a href="#">New York</a></td>
                        </tr>
                        <tr>
                            <td>Favorite games</td>
                            <td><a href="#">Bloodborne</a>, <a href="#">Dark Souls II</a>, <a href="#">Kingdoms of
                                    Amalur</a>, <a href="#">The Witcher</a></td>
                        </tr>
                        <tr>
                            <td>About Me</td>
                            <td>
                                <p>Netus. Nascetur arcu amet accumsan natoque. Augue aptent euismod sed magna diam
                                    nostra, molestie mi felis. Egestas nisl ante posuere dui Nostra tempus pulvinar
                                    at dui augue mattis placerat iaculis hac arcu rutrum.</p>
                                <p>Vel <strong>class</strong> lectus auctor interdum. Mi <strong>nec</strong>
                                    senectus commodo sed suscipit vitae parturient, risus vivamus quisque dolor
                                    aliquet amet. Etiam penatibus nascetur netus. Non leo eu vitae sem laoreet.
                                    Varius in augue. Mollis convallis.</p>
                            </td>
                        </tr>
                    </tbody>
                </table> -->


            </div>
            <div class="col-auto-lg mpl-sidebar" data-sr="widget" data-sr-duration="1200" data-sr-distance="20">
                <!-- <div class="mpl-widget mpl-widget-about">
                    <h4 class="mpl-widget-title">About</h4>
                    <div data-sr-item="widget"
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1.2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1.2s cubic-bezier(0.5, 0, 0, 1) 0s;">
                        <p>Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper
                            consequat volumus ... et ille in urbe ista licet? Et infernus, ubi tu non Virginiae
                            ornare vel ipsum. Ut enim Albuquerque et ille eum iure hic, et ego ducam te ad
                            iustitiam.</p>
                    </div>
                </div> -->
                <app-user-card></app-user-card>
                <!-- <div class="mpl-widget mpl-widget-location">
                    <h4 class="mpl-widget-title" data-sr-item="widget"
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1.2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1.2s cubic-bezier(0.5, 0, 0, 1) 0s;">
                        Location</h4>
                    <div class="mpl-widget-map" data-sr-item="widget"
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1.2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1.2s cubic-bezier(0.5, 0, 0, 1) 0s;">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423284.59051352815!2d-118.41173249999999!3d34.0204989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sru!4v1430158354122"></iframe>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>