<!-- Background Begin -->
<section class="mpl-banner mpl-banner-top mpl-banner-parallax">
  <div class="mpl-image" data-speed="0.8" style="z-index: 0;">
    <div class="jarallax-container-0">
      <img src="../assets/img/ninja.jpg" alt="" class="jarallax-img">
    </div>
  </div>

  <!-- Main Page Banner -->
  <div class="mpl-banner-content mpl-box-lg" style="opacity: 0.999929; transform: translate3d(0px, -0.0105813px, 0px);">
    <div class="container text-center">
      <div class="row justify-content-center" data-sr="404" data-sr-interval="200" data-sr-duration="1200"
        data-sr-distance="20">
        <div class="col-12 col-lg-8">
          <h1 class="display-1 mb-60" data-sr-item="404"
            style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1.2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1.2s cubic-bezier(0.5, 0, 0, 1) 0s;">
            Page Not Found</h1>
          <p class="lead text-white mb-60" data-sr-item="404"
            style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1.2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1.2s cubic-bezier(0.5, 0, 0, 1) 0s;">
            The page you are looking for no longer exists. Perhaps you can return back to the site's homepage and see if
            you can find what you are looking for.</p>
          <form action="#" class="row hgap-xs justify-content-center">
            <div class="col col-md-6 col-lg-6 col-xl-5" data-sr-item="404"
              style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1.2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1.2s cubic-bezier(0.5, 0, 0, 1) 0s;">
              <input class="form-control" type="text" id="search" name="s" placeholder="Site Search"><span
                class="form-control-bg"></span>
            </div>
            <div class="col-auto">
              <button class="btn btn-md" data-sr-item="404"
                style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s, background-size 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, opacity 1.2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1.2s cubic-bezier(0.5, 0, 0, 1) 0s;">
                <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z">
                  </path>
                </svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>
</section>