<!-- Background Begin -->
<!-- <div class="content-wrap"> -->
    <section class="mpl-banner mpl-banner-top mpl-banner-parallax">
        <div class="mpl-image" data-speed="0.8" style="z-index: 0;">
            <div class="jarallax-container-0">
                <img src="../assets/img/ninja.jpg" alt="" class="jarallax-img">
              </div>
        </div>

        <!-- Main Page Banner -->
        <div class="mpl-banner-content mpl-box-lg"
            style="opacity: 0.999929; transform: translate3d(0px, -0.0105813px, 0px);">
            <!-- BANNER BEGIN -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-10" data-sr="banner" data-sr-interval="200" data-sr-duration="1200"
                        data-sr-distance="20">
                        <h1 class="display-1" data-sr-item="banner"
                            style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1.2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1.2s cubic-bezier(0.5, 0, 0, 1) 0s;">
                            Black Mesa</h1>
                        <p class="lead" data-sr-item="banner"
                            style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1.2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1.2s cubic-bezier(0.5, 0, 0, 1) 0s;">
                            "Have beginning wherein spirit. Bearing unto. To after light. Good image can't without hath
                            fly beast him fish firmament fish Face waters fly unto spirit i doesn't one waters divide."
                        </p>
                        <a class="btn btn-md btn-brand" href="blog-post-gallery.html" data-sr-item="banner"
                            data-sr-id="4"
                            style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s, background-size 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, opacity 1.2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1.2s cubic-bezier(0.5, 0, 0, 1) 0s;">Read
                            More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- </div> -->
<!-- BANNER END -->